[Unit]
Description=nsqd: realtime distributed messaging
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/nsqd -config /etc/nsq/nsqd.conf
Restart=always
RestartSec=2
User=nsq
Group=nsq
StateDirectory=nsq

[Install]
WantedBy=multi-user.target
