Source: nsq
Section: contrib/net
Priority: extra
Maintainer: Kirill Zakharenko <earwin@gmail.com>
Build-Depends: debhelper (>= 9.0.0~), dh-exec
Standards-Version: 3.9.5

Package: nsq
Architecture: amd64 i386
Depends: ${misc:Depends}
Description: NSQ: a realtime distributed messaging platform
